<div id="canvas">
  <!-- <router-outlet></router-outlet> -->
  <div id="mydiv">
    <div id="mydivheader">Click here to move</div>
    <div class="nn">
      <div class="ppk">key</div>
      <div class="pp" contenteditable="true" [textContent]="td" (input)="td=$event.target.textContent"></div>
      <div class="pptype">varchar</div>
    </div>
    <br>
    <!-- <hr> -->

    <div class="nn">
      <div class="ppk" id="fk1"></div>
      <div class="pp" contenteditable="true" [textContent]="td" (input)="td=$event.target.textContent"></div>
      <div class="pptype">varchar</div>
    </div>
    <br>
    <div class="nn">
      <div class="ppk">key</div>
      <div class="pp" contenteditable="true" [textContent]="td" (input)="td=$event.target.textContent"></div>
      <div class="pptype">varchar</div>
    </div>
    <br>
    <div class="nn">
      <div class="ppk">key</div>
      <div class="pp" contenteditable="true" [textContent]="td" (input)="td=$event.target.textContent"></div>
      <div class="pptype">varchar</div>
    </div>

  </div>


  <div id="mydiv1">
    <div id="mydivheader">Click here to move</div>
    <div class="nn">
      <div class="ppk" id="fk2">key</div>
      <div class="pp" contenteditable="true" [textContent]="td" (input)="td=$event.target.textContent"></div>
      <div class="pptype">varchar</div>
    </div>
    <br>
    <!-- <hr> -->

    <div class="nn">
      <div class="ppk">key</div>
      <div class="pp" contenteditable="true" [textContent]="td" (input)="td=$event.target.textContent"></div>
      <div class="pptype">varchar</div>
    </div>
    <br>
    <div class="nn">
      <div class="ppk">key</div>
      <div class="pp" contenteditable="true" [textContent]="td" (input)="td=$event.target.textContent"></div>
      <div class="pptype">varchar</div>
    </div>
    <br>
    <div class="nn">
      <div class="ppk">key</div>
      <div class="pp" contenteditable="true" [textContent]="td" (input)="td=$event.target.textContent"></div>
      <div class="pptype">varchar</div>
    </div>

  </div>


  <button (click)="ver()">ver data</button>
</div>