#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  width: auto;
  top: 55px;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

.nn {
  backgroud: #424242;
  padding-left: 5px;
  padding-right: 5px;
}

.pp {
  float: left;
  min-width: 50px;
  padding-left: 2px;
  padding-right: 2px;
  border: 0.5px solid #424242;
}

.ppk {
  float: left;
  margin-right: 15px;
}

.pptype {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}