/* You can add global styles to this file, and also import other style files */
body {}

/* app-diagrama {} */
app-toolbar {
  top: 0px !important;
  position: fixed;
  background: #FFF !important;
  width: 100% !important;
  z-index: 999 !important;
}